.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
  }
  
  .nav-links button:hover {
    color: #ffd700; /* Cambia el color al pasar el ratón */
  }
  
  .active button {
    font-weight: bold;
  }
  