:root {
  --azul: #406D96;
  --blanco: #FFFFFF;
  --azul2: #6cabd7;
  --azulClaro: #A8D0DA;
  --azulClaro2: #D8E8E8;
  --rojo: #E2474B;
  --fondoPrincipal: #e8e8e8;
  --turquesaFuerte: #286b5f; 
  --primario: #3FAD98;
  --secundario: #69CCBB;
  --terciario: #a7d7cf;
  --rojoPrimario: #fb3c04;
  --rojoSecundario: #FF9646;
  --azulFuerte: #3C55D1;
}

body {
  background-color: var(--fondoPrincipal);
  font-family: Schibsted Grotesk, Arial;
}

h2 {
  margin: 50px;
}

.texto {
  background-color: #ffffffa9;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  padding: 50px;
  margin-right: 10px;
  border-radius: 5px;
}

.color-container {
  background: linear-gradient(to right, var(--primario), var(--rojoSecundario));
}

.paragraphs-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 80px 130px 10px 130px;
}

.twoParagraphs-container {
  flex: 1;
  display: flex;
}

.thirdParagrah-container {
  flex: 0 0 100%;
  margin: 40px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

.label-country, 
.label-year {
  font-weight: bold;
}
  
.select-container {
  display: flex;
  justify-content: center;
  margin: 40px;
  margin-bottom: 80px;
}

.select-wrapper {
  margin-right: 5rem;
}

select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  background-color: var(--fondoPrincipal);
  border-color: #c3c3c3;
  border-width: 3px;
  border-style: solid;
  border-radius: 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
  color: var(--turquesaFuerte);
}

select:hover {
  border-color: var(--azul2);
}

.graph-text-container {
  margin-bottom: 90px;
  padding: 50px;
  background-color: var(--blanco);
  border-radius: 30px;
}

.pie-text-container {
  display: flex;
  flex-direction: row-reverse;
}

.pie-text {
  padding-left: 40px;
  flex: 1
}

.bar-text-container {
  display: flex;
  height: 200px;
}

.bar-text {
  padding-right: 40px;
  flex: 1
}

.barGraph {
  width: 40%;
  height: 300px;
}

  table {
    width: 80%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    
  }
  
  th, td {
    padding: 8px;
    border: none;
    text-align: left;
  }

  thead {
    background: linear-gradient(to bottom, var(--azulFuerte), var(--azul)); /* Degradado de izquierda a derecha */
    color: var(--blanco);
  }

  tbody {
    background-color: #ffffffc1;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }
  
  .chart-container {
    display: flex;
    justify-content: center;
  }
  
  .chart-wrapper {
    margin: 0 10px;
  }
  
  .chart h3 {
    margin-bottom: 5px;
  }

  .barGraph-container {
    height: 300px;
    width: 70%;
  }

  button {
    background-color: var(--azulFuerte);
    color: var(--blanco);
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
  }

  button:hover {
    background-color: var(--azulClaro);
    color: var(--azulFuerte);
  }

/* --------- Muertes ---------- */
#barChart {
  width: 70%;
}

/* --------- Desastre por país ---------- */

#barChart2-container {
  width: 70%;
  height: 400px;
  margin: 40px auto;
}

#barChart2 {
  padding: 50px;
  background-color: var(--fondoPrincipal);
  border-radius: 20px;
  margin-bottom: 40px;
}
  

/* --------- Costos ---------- */
#bubbleChart-container {
  width: 800px;
  height: 600px;
  margin: 40px auto;
}

#bubbleChart {
  padding: 50px;
  background-color: var(--blanco);
  border-radius: 20px;
}